h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: normal;
  margin: 0 0 1rem 0;
}

p, span, a {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: normal;
  margin: 0;
}